:root {
    --clr-darkgreen: #003322;
    --clr-gold: #fad163;
    --clr-darkgold: #dd9000;
    --clr-red: #bb0000;
    --clr-darkred: #4c0000;
    --clr-midgrey: #333333;
    --clr-light: #ffeedd;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* default is 16px this gives 17.4px on a 1080p display and 13.5 on a 300 wide display */
    font-size: calc(12px + .5vw);
}

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Nunito', sans-serif;
    color: var(--clr-light);
    /* background-color: var(--clr-light); */
    background-color: var(--clr-midgrey);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
}

/* .container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

header {
    /* use min-height in .content calc() */
    min-height: 182px;
    background-color: var(--clr-darkgreen);
}

.logoBox {
    width: 27rem;
    /* height: 91px; */
    display: block;
    margin: 1rem auto;
}

.logo {
    float: left;
    width: 5.6rem;
  }

.content {
    flex: 1 0 auto;
    /* min-height below is 100vh - .headerBox.min-height - footer.height 
           This ensures footer is at bottom of display when insufficient content to require scrolling.*/
    min-height: calc(100vh - 182px - 108px);
}

.nav {
    display: flexbox;
    font-family: 'Nunito', sans-serif;
    margin-top: 5px;
    font-weight: lighter;
    /* text-align: left; */
    /* list-style: none; */
  }
  
  .nav li {
    padding: 0 13px 0 0;
  }
  
  @media (max-width: 1000px) {
    .nav li {
      display: list-item;
      padding: 3px;
    }
  }
  
  .nav li a {
    text-decoration: none;
    font-weight: normal;
    padding: 3px;
    color: var(--clr-light);
  }

  .nav li a:hover {
    color: var(--clr-gold);
  }

footer {
    left: 0;
    width: 100%;

    background-color: var(--clr-darkred);
    color: var(--clr-light);
    list-style: none;
    text-align: center;
    padding: 0 0 1.2rem 0;
    /* use height in .content calc() */
    height: 77px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    color: var(--clr-darkgreen);
    font-weight: lighter;
    text-align: center;
}

h1 {
    color: var(--clr-light);
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 2.5rem;
}

h2 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 1.8rem;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.4rem;
}

p {
    /* color: var(--clr-light); */
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

ol,
ul {
    padding-left: 0;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--clr-red);
    padding: 0;
    margin: 0;
}

a:hover {
    color: var(--clr-darkgold);
}

.container {
    width: 100%;
    background-color: var(--clr-midgrey);
    /*     height:auto; */
    /*     min-height: 500px; */
    /*     margin: 0 auto; */
    /*     border: 10px solid red; */
}

.main {
    width: 77%;
    min-width: 330px;
    /*   display: block; */
    /*   padding: 7px; */
    background-color: var(--clr-darkgreen);
    margin: 14px auto;
    border: solid 7px var(--clr-light);
    border-radius: 5px;
    overflow: auto;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.item {
    background-color: var(--clr-darkgreen);
    color: var(--clr-light);
    text-align: center;
    max-width: 500px;
}

.info {
    padding: 1em;
}

.imageContainer {
    border: var(--clr-darkgreen) 7px solid;
    width: 50%;
    /*   margin-left: 0; */
    /*   display: inline-block; */
    /*   position: relative; */
    /*   text-align: center; */
    /*   min-height: 490px; */
    min-width: 280px;
    background-color: var(--clr-darkgreen);
}

.main-pic {
    width: 100%;
    max-width: 500px;
}

.eventBox {
    border: var(--clr-gold) 7px solid;
    border-radius: 7px;
    margin: 3px auto;
    background-color: var(--clr-gold);
    width: 70%;
    color: var(--clr-darkgreen)
}

.eventBox h3 {
    font-size: 1rem;
    font-weight: bold;
}

.eventBox h4 {
    font-size: .9rem;
    font-weight: bold;
}

.eventBox p {
    font-size: .8rem;
}

.home {
    color: var(--clr-light)
}